/* CSS styles for the header */
body {
    background-color: aquamarine;
}
header {
    background-color: #d2e0ba;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: rgb(153, 34, 34);
    font-size: 34px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #4d97e6;
    text-decoration: none;
    text-align: left;
}

/* nav a:hover {
    text-decoration: underline;
} */

/* CSS styles for the content section */
.content {
    padding: 20px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(17, 17, 16);
}

.content img {
    max-width: 100%;
    height: auto;
}

/* CSS styles for the registration section */
.registration {
    padding: 20px;
    text-align: auto;
}

.registration h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.registration form {
    max-width: 400px;
    margin: 0 auto;
}

.registration label {
    display: block;
    margin-bottom: 8px;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="tel"],
.registration select,
.registration textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.registration textarea {
    height: 100px;
    color: #d2e0ba;
}

.registration input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration input[type="submit"]:hover {
    background-color: #0056b3;
}
