
body{
    background-image: url('wallpaper3.jpeg');

}

form{
    background-image: url('wallpaper3.jpeg');
    width: 630px;
    height: 1000px;
    margin-left: 28%;
    padding: 50px 80px;
    margin-top: -20px;

    
}

@media(max-width:890px){
        
form{
    background-image: url('wallpaper3.jpeg');
    width: 80%;
    height: 580px;
    margin-left: 3%;
    
    padding: 50px 20px;
    
}

}

form .log{

    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bolder;
    text-align: center;
}

@media(max-width:500px){
    form .log{

        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: red;
        font-weight: bolder;
        
    }
    
}


form label{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding-bottom: 16px;
    
}


form button{
    background-image: url('wallpaper3.jpeg');
    padding: 10px 130px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    font-size: 23px;
}

#input{
    
    height: 40px;
    width: 80%;
    font-size: 20px;
    background-color: whitesmoke;
    text-align: left;

    
}
form p{
    font-size: 18px;
    color: white;
    
}

#link{
    color: red;
    text-decoration: none;
}
@media(max-width:840px){
        
        
#input{
    
    height: 40px;
    width: 80%;
    font-size: 20px;
    
    text-align: left;


    
}

    }
    

    @media(max-width:500px){
        
        form{
            background-image: url('wallpaper3.jpeg');
            width: 94%;
            height: 580px;
            margin-left: 3%;
            
            padding: 50px 20px;
            
        }
               
#input{
    
    height: 40px;
    width: 90%;
    font-size: 20px;
    
    text-align: left;


    
}
        }
        
    