
body {
    max-width: 100%;
  }
  .blue-heading {
      color: blue;
    font-family: ;
  }
  
  .red-paragraph {
      color: red;
      font-size: 15px;
  }
  
  .image-section img {
      width: 500px;
      height: 500px;
      border: 5px solid green;
  }
  
  .form-section form {
      margin-top: 20px;
    text-align: center;
  }
  
  .form-section label {
      display: block;
      margin-bottom: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .form-section input,
  .form-section select {
      margin-bottom: 10px;
  }
  
  .form-section button {
      margin-top: 10px;
  }
  
  .form-section select#subjects {
      width: 100%; 
      padding: 8px; 
      font-size: 16px; 
      border: 1px solid #ccc; 
      border-radius: 5px; 
    margin-top: 20;
  }
  .form-section select#subjects option {
      padding: 5px; 
      font-size: 14px; 
  }
  