body {
    font-family: Arial, sans-serif;
    /* font-family: Helvetica, sans-serif; 
    font-family: Georgia, serif;
    font-family: "Times New Roman", serif; 
    font-family: Verdana, sans-serif;  */
}

.col {
    justify-content: center;
    text-align: center;
}

.col h1 {
    color: blue;
}

.col p {
    color: red;
    font-size: 15px;
}

section {
    margin-top: 0px ;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.section-img {
    text-align: center;
}

section img {
    width: 500px;
    height: 500px;
    padding: 5px;
    border: 2px solid green; /* Add green border around the image */
}


/* Apply styles to form elements */
form {
    max-width: 500px;
    margin: 35px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: whitesmoke;
}

form h4 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Ensure padding and border don't increase element size */
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.div-button {
    text-align: center;
    margin-top: 0px;
}

button[type="reset"],
button[type="submit"] {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="reset"] {
    color: #ddd;
    background-color: rgb(233, 117, 117);
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button[type="reset"]:hover,
button[type="submit"]:hover {
    background-color: #ccc;
}

footer {
    font-family: 'Playfair Display', serif; 
}

.footer-info {
    text-align: center;
    text-decoration: black;
}
